body{
    background-color: rgb(227, 229, 247);
}

.header{
    display: flex;
    text-align: center;
    justify-content: center;
}
.heder-matn{
    position: relative;
    left: 180px;
    bottom: 20px;
}

.ul-heder{
    display: flex;
    list-style: none;
}
.li-heder{
    margin: 10px;
    font-size: 13px;
}
.a-heder{
    text-decoration: none;
    color: black;
}
.li-heder:hover{
    background-color: rgb(125, 122, 255);
  
}
.a-heder:hover{
    color: white;
}


.heder-end{
    position: relative;
    right: 100px;
    bottom: 18px;

}

.h6-heder-end{
    font-weight:700 ;
    
}

.circle-heder-end{
    width: 10px;
    height: 10px;
    background-color: black;
    border: solid 1px;
  border-radius: 50px;
  position: relative;
  bottom: 35px;
  right: 76px;
}

.circle-heder-end2{
     width: 5px;
    height: 10px;
    background-color: black;
    border: solid 1px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    position: relative;
    bottom: 47px;
    right: 88px;
}

.circle-heder-end3{
     width: 2px;
    height: 5px;
     background-color: black;
    border: solid 1px;
     border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    position: relative;
    bottom: 56px;
    right: 95px;
}

.hr-header{
    width: 100%;
    height: 1px;
    background-color: black;
    position: relative;
    bottom: 63px;

}

.matn-motivation{
    width: 100%;
    height: 50px;
    background-color: white;
    position: relative;
    bottom: 63px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.h1-matn-motivation{
    position: relative;
    right: 280px;
    bottom: 17px;
    font-size: 38px;
}
.h1-matn-motivation2{
     font-size: 38px;
     position: relative;
     left: 250px;
     bottom: 17px;
     color:  rgb(125, 122, 255);
     
}

.hr-down{
     width: 100%;
    height: 1px;
    background-color: black;
    position: relative;
    bottom: 63px;
}

.left-part{
    position: relative;
    right: 189px;
    bottom: 63px;
}

.img-left-part{
    width: 400px;

}


.right-part{
    position: relative;
    bottom: 110px;
    right: 95px;
}

.h3-right-part{
    position: relative;
    bottom: 170px;
    font-weight: 700;
}

.span-right-part{
    position: relative;
    left: 37px;
}

.p-right-part{
    position: relative;
    left: 40px;
    bottom: 100px;
    font-size: 10px;
}
#btn-right-part{
    padding:  5px 10px;
    border: none;
    color: white;
    background-color: rgb(125, 122, 255);
    border-radius:5px ;
    position: relative;
    bottom: 104px;
    left: 20px;
}

#part-js{
    width: 200px;
    height: 400px;
    background-color: rgb(153, 134, 174);
    position: relative;
    bottom: 470px;
    display: none;

}

#img-part-js{
    width: 20px;
}
.h3-left-part-two{
    position: relative;
    left: 130px;
}

.left-part-two{
    position: relative;
    bottom: 220px;
    right: 490px;
}

.span-left-part-two{
    position: relative;
    right: 10px;
    bottom: 2px;
}


.p-left-part-two{
    font-size: 10px;
    position: relative;
    left: 115px;
    top: 80px;
}

.line-part-two{
    width: 1px;
    height: 240px;
    background-color: black;
    position: relative;
    right: 350px;
    bottom: 331px;

}
.middle-part-two{
    position: relative;
    bottom:585px;
    right: 190px;
}

.span-middle-part-two{
    position: relative;
    right: 105px;
}

.p-middle-part-two{
    position: relative;
    top: 80px;
    left: 50px;
    font-size: 10px;
}

.hr-part-tow{
    width: 100%;
    height: 1px;
    background-color: black;
    position: relative;
    bottom: 456px;
}

.matn-motivation-part-two{
  width: 100%;
    height: 50px;
    background-color: white;
    position: relative;
    bottom: 456px;
    display: flex;
    justify-content: center;
    text-align: center;   
}

.h1-matn-motivation-part-two{
    font-weight: 700;
    position: relative;
    right: 280px;
    bottom: 18px;
    font-size: 38px;
}
.h1-matn2-motivation-part-two{
    font-size: 38px;
     position: relative;
     left: 160px;
     bottom: 17px;
     color:  rgb(125, 122, 255);
}

.hr-part-tow-down{
     width: 100%;
    height: 1px;
    background-color: black;
    position: relative;
    bottom: 456px;
}


.right-part-three{
    position: relative;
    bottom: 456px;
    left: 1px;
}

.img-right-part-three{
    width: 370px;
    height: 320px;
   
}
.left-part-three{
    position: relative;
    bottom: 660px;
    right: 430px;
}
.span-left-part-three{
    position: relative;
    right: 55px;
}
.h3-left-part-three{
    position: relative;
    bottom: 130px;
}

.line-left-part-three{
     width: 230px;
    height: 1px;
    background-color: black;
    position: relative;
    bottom: 135px;
    left: 61px;
}

.left-part-three-h6{
    position: relative;
    bottom: 150px;
    right: 50px;
}

.p-left-part-three{
    font-size: 10px;
    position: relative;
    bottom: 170px;
    right: 40px;
}

.line2-left-part-three{
     width: 230px;
    height: 1px;
    background-color: black;
    position: relative;
    bottom: 170px;
    left: 61px;
}

.left-part2-three-h6{
     position: relative;
    bottom: 180px;
    right: 10px;
}

.p-left-part2-three{
    font-size: 10px;
    position: relative;
    bottom: 200px;
    right: 28px;
}

.line3-left-part-three{
      width: 230px;
    height: 1px;
    background-color: black;
    position: relative;
    bottom: 203px;
    left: 61px;
}

.left-part3-three-h6{
    position: relative;
    bottom: 210px;
    right: 40px;
}

.p-left-part3-three{
    font-size: 10px;
    position: relative;
    bottom: 230px;
    
}

.line4-left-part-three{
     width: 230px;
    height: 1px;
    background-color: black;
    position: relative;
    bottom: 226px;
    left: 61px;
}

.btn-left-part-three{
    padding: 4px 5px;
    color: white;
    background-color: rgb(125, 122, 255);
    border: none;
    border-radius: 5px;
    position: relative;
    bottom: 200px;
    right: 40px;
}

.part-four{
    display: flex;
    text-align: center;
    justify-content: center;
}


.purple{
    width: 101%;
    height: 140px;
    background-color: rgb(125, 122, 255); ;
    position: relative;
    bottom:842px ;
    position: relative;
    left: 1px;
}

.p-purple{
    font-size: 10px;
    position: relative;
  
}

.p2-purple{
    font-size: 10px;
    position: relative;
    bottom: 5px;
}

.btn-purple{
    padding:  3px 1px;
    border: none;
    border-radius: 5px;
}

.line-purple{
     width: 100%;
    height: 1px;
    background-color: black;
    position: relative;
    bottom: 843px;

}
    .circle-left-footer{
     width: 50px;
    height: 50px;
    background-color: black;
    border: solid 1px;
    border-radius: 50px;
    position: relative;
    bottom: 830px;
    right: 476px;    }
    .circle2-left-footer{
         width: 30px;
    height: 45px;
    background-color: black;
    border: solid 1px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    position: relative;
    bottom: 880px;
    right: 527px;
    }

    .circle3-left-footer{
          width: 20px;
    height: 35px;
    background-color: black;
    border: solid 1px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    position: relative;
    bottom: 920px;
    right: 558px;   
    }

    .down-left-footer{
        position: relative;
        font-size: 10px;
        bottom:850px;
        right: 430px;
    }

    .p1-left-footer{
        position: relative;
        bottom: 5px;
    }

    .h6-left-footer{
        position: relative;
        right: 60px;
        top: 5px;
    }
    .p2-left-footer{
        position: relative;
        bottom: 10px;
    }

    .midle-footer{
        position: relative;
        bottom: 935px;
        right: 200px;
    }
    .p-midle-footer{
        font-size: 10px;
        position: relative;
        bottom: 20px;
    right: 30px;
        
    }

    .p2-midle-footer{
        position: relative;
        bottom: 30px;
        font-size: 10px;
        right: 30px;
    }

    .p3-midle-footer{
        position: relative;
        font-size: 10px;
        bottom: 64px;
        left: 20px;
    }

    .p4-midle-footer{
        font-size: 10px;
        position: relative;
        bottom: 73px;
        left: 20px;
    }

    .h2-right-footer{
        position: relative;
        bottom:1220px;
        right: 20px;
    }


.right-footer-down{
    position: relative;
    bottom: 1130px;
    font-size: 10px;
    right: 20px;
}

.h6-right-footer{
    font-size: 12px;
}

.p-right-footer{
    position: relative;
    bottom: 20px;
}

.p2-right-footer{
    position: relative;
    bottom: 25px;
    right: 30px;
}

.p3-right-footer{
    position: relative;
    bottom: 33px;
}
.p4-right-footer{
    position: relative;
    bottom: 37px;
    right: 5px;
}